body{
	#background:linear-gradient(rgba(20,155,255,.3)0%, rgba(100,255,100,.2) 100%);
	border:double 1px black;
	margin:2px;
}
.onl{
	border:solid 1px blue;
color:rgba(0,125,125,0.6);
font-weight:bold;
border-radius:5%;
padding:5px;
margin:10px;
text-decoration:none;
background:rgba(100,120,100,0.3);
width:30%;
display:inline-block;
}
.dow{
	padding:5px;
	margin:10px;
	border-radius:5%;
	text-decoration:none;
	font-size:65%;
	display:inline-block;
	background:blue;
	color:white;
	border:double 1px rgba(0,0,125,0.3);
}
a:hover{
	color:white;
	background:rgba(130,120,129,0.6);
}
section{
	background:rgba(123,123,112,0.1);
	#border:double 2px black;
	#display:inline-block;
	#width:45%;
}
h2{
	font-size:97%;
	padding:.5%;
	background:rgba(20,0,0,0.2);
	font-family:"Times New Roman",cursive, Aerial;
}
.stream{
	border:solid 1px blue;
	color:rgba(255,120,120,0.6);
	font-weight:bold;
	border-radius:2%;
	padding:5px;
	margin:10px;
	text-decoration:none;
	background:rgba(20,150,240,0.3);
	width:30%;
	height:20px;
	overflow:hidden;
	display:inline-block;
}
footer{
	padding-top:2%;
	padding-bottom:2%;
	display:block;
	background-color:rgba(200,120,255,0.3);
	margin-top:3%;
}

.dec a{
	font-size:200%;
	padding:1%;
margin-left:12%;
margin-right:6%;
 }
 .dec a:hover{
	 border-radius:10%;
 background:rgba(255,255,255,0.3);
 }
	